function Main.main 7
call Health.new 0
pop local 4
push local 4
call Money.new 1
pop local 3
call Troop.new 0
pop local 1
call Game.new 0
pop local 5
push local 4
push local 5
push local 0
push local 3
call Control.new 4
pop local 6
push local 3
push local 1
push local 6
call Buildings.new 3
pop local 2
push local 1
push local 6
call Troop.addControl 2
pop temp 0
push local 6
push local 2
call Control.addBuildings 2
pop temp 0
push local 6
push constant 2
call Control.read 2
pop temp 0
push local 5
push local 6
call Game.addControl 2
pop temp 0
push local 5
push local 0
push local 1
push local 3
push local 4
push local 2
call Game.start 6
pop temp 0
push constant 0
return
